<h1>Home Page</h1>
<a href="/about">About page</a> 
<a href="/faq">FAQs</a>
<div>
    <p>This is San Francisco!</p>
</div>
<div id="sf_image">
    <img src="https://images.unsplash.com/photo-1517141772911-756dc840a94f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1188&q=80">
</div>